body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    font-size: 16px;
}

header {
    display: flex;
    align-items: center;;
    justify-content: space-between;
    background-color: #1F2937;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0px;
    gap: 16px;
}

a {
    text-decoration: none;
    color: black;
}

.top {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1F2937
}

.left {
    color: white;
    height: 72px;
    width: 144px;
    display: flex;
}

.right {
    display: flex;
}

.left .title {
    font-size: 24px;
    font-weight: 900;
    color: white;
}

.middle-top {
    display: flex;
    height: 500px;
}

.middle-bottom {
    display: flex;
}

.bottom {
    display: flex;
}

.text-box img {
    height: 100px;
    width: 100px;
}

.left img {
    height: 40px;
    width: 80px;
}

.right img {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}